allow mm-qcamerad input_device:chr_file { read ioctl open };
allow mm-qcamerad persist_file:file { read open };
allow mm-qcamerad proc:file write;
allow mm-qcamerad sysfs:file write;
