allow rild nv_data_file:dir { getattr search write create add_name };
allow rild nv_data_file:file rw_file_perms;
allow rild cache_file:dir { getattr search };
