##################################################################################
### OPPO All rights reserved.
###
### File: - init.oppo.rc
### Author: jiangyg@PM
###
### ------------------------------- Revision History: ----------------------------
### <author>                        <data>       <version>   <desc>
### ------------------------------------------------------------------------------
### jiangyg@PM                     2013-10-21                Create this file
##################################################################################

on boot
    mkdir /data/opponvitems  0771 radio radio
    setprop persist.radio.force_on_dc true

on property:persist.sys.dump=1
    write /sys/module/msm_poweroff/parameters/download_mode  1
    write /proc/otrace_on 7978
    write /sys/bus/msm_subsys/devices/subsys0/restart_level system
    write /sys/bus/msm_subsys/devices/subsys1/restart_level system
    write /sys/bus/msm_subsys/devices/subsys2/restart_level system
    write /sys/bus/msm_subsys/devices/subsys3/restart_level system

on property:persist.sys.dump=0
    write /sys/module/msm_poweroff/parameters/download_mode  0
    write /proc/otrace_on 0
    write /sys/bus/msm_subsys/devices/subsys0/restart_level related
    write /sys/bus/msm_subsys/devices/subsys1/restart_level related
    write /sys/bus/msm_subsys/devices/subsys2/restart_level related
    write /sys/bus/msm_subsys/devices/subsys3/restart_level related

on property:sys.oppo.cpu_idle=true
    write /sys/module/lpm_levels/system/cpu0/pc/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu0/standalone_pc/idle_enabled 1
    write /sys/module/lpm_levels/system/cpu0/wfi/idle_enabled 1
    write /sys/module/lpm_levels/system/performance/cpu0/pc/idle_enabled 1
    write /sys/module/lpm_levels/system/performance/cpu0/standalone_pc/idle_enabled 1
    write /sys/module/lpm_levels/system/performance/cpu0/wfi/idle_enabled 1

on property:sys.oppo.cpu_idle=false
    write /sys/module/lpm_levels/system/cpu0/pc/idle_enabled 0
    write /sys/module/lpm_levels/system/cpu0/standalone_pc/idle_enabled 0
    write /sys/module/lpm_levels/system/cpu0/wfi/idle_enabled 0
    write /sys/module/lpm_levels/system/performance/cpu0/pc/idle_enabled 0
    write /sys/module/lpm_levels/system/performance/cpu0/standalone_pc/idle_enabled 0
    write /sys/module/lpm_levels/system/performance/cpu0/wfi/idle_enabled 0

service power-control /system/bin/sh /system/etc/init.oppo.qcom.power.sh &
   class main
   user root
   group root

on property:persist.sys.oppo.otg_support=true
    write /sys/class/power_supply/usb/otg_switch 1

on property:persist.sys.oppo.otg_support=false
    write /sys/class/power_supply/usb/otg_switch 0

on property:sys.fastcharger=true
    write /sys/class/power_supply/battery/charger_enable 1

on property:sys.fastcharger=false
    write /sys/class/power_supply/battery/charger_enable 0
